<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567062940056-vqdcmdq37bomfahhfh5cjacn9h4h69mv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567062940056-vqdcmdq37bomfahhfh5cjacn9h4h69mv</string>
	<key>API_KEY</key>
	<string>AIzaSyA5KfO23Jt2Aci8ORKlT5mkxcKVUpIjXKI</string>
	<key>GCM_SENDER_ID</key>
	<string>567062940056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bonf.FCMTest</string>
	<key>PROJECT_ID</key>
	<string>fcmtest-df41c</string>
	<key>STORAGE_BUCKET</key>
	<string>fcmtest-df41c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567062940056:ios:53d5edca77c030a911c3ed</string>
</dict>
</plist>